{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" id="profile_email-modal-button" data-loading-text="<span class='glyphicon glyphicon-repeat'></span>">
        	{{ 'profile.edit.submit'|trans }}"
        </button>
    </div>
{{ form_end(form) }}
