<div class="col-sm-12">
	Observation
</div>

<div class="col-sm-12">
	Recherche
</div>

<div class="col-sm-12">
	Contact
</div>

<div class="col-sm-12">
	Inscription
</div>

<div class="col-sm-12">
	Connexion
</div>
