{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" id="profile_pass-modal-button" data-loading-text="<span class='glyphicon glyphicon-repeat'></span>">
        	{{ 'change_password.submit'|trans }}
        </button>
    </div>
{{ form_end(form) }}
