/*Bloc home*/
.divLink {
	height: 450px;
	border: 1px solid black;
	margin-bottom: 75px;
	box-shadow: 1px 1px  #313133;
}

.titleBlocHome {
	text-align: center;
	background-color: #F4F4F4;
	height: 100px;
	opacity: 0.9;
	padding-top: 15px;
}

/*.item img.img-responsive {
	padding: 0px;
	margin: 0px;
}*/

.blocTextHome {
	text-align: center;
	background-color: #F4F4F4;
	height: 250px;
	opacity: 0.9;
	padding: 0px 45px 0px 45px;
	line-height: 35px;
}

#mainBlocHome {
	padding: 75px 25px 75px 25px;
	background-image: url( "http://assets.fhuszti.tech/nao/home/home-bg.png" );
	background-size: cover;
}

#slider {
	padding: 0px;
}

.icon {
	display: flex;
	justify-content: center;
	height: 100px;
	background-color: #ABDCF3;
	padding: 10px 0px 10px 0px;
}

#line {
	border: none;
	border-bottom: 1px solid black;
	margin: 0px 30px 0px 30px;
	padding-top: 25px;
}


