#wrapper {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	width: 100%;
}

#carousel a {
	padding: 0;
	height: 100%;
	border-bottom: 1px solid #ccc;
}

#mainContent {
	background-image: url('http://assets.fhuszti.tech/nao/home/home-bg.png');
	padding-top: 30px;
	text-align: center;
}
#mainContent .home-block {
	margin-bottom: 30px;
}
#mainContent .home-block a {
	color: black;
}
#mainContent .home-block .alert-info {
	height: 80px;
	padding: 10px 15px;
	margin-bottom: 0;
	border-radius: 0;
}
#mainContent .home-block .alert-info img {
	height: 60px;
}
#mainContent .home-block-content {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.95);
	border: 1px outset #ccc;
	padding: 0 30px 20px;
	min-height: 245px;
}
#mainContent .home-block-content h3 {
	width: 90%;
	border-bottom: 3px solid black;
	margin: auto;
	padding: 20px 10px;
	margin-bottom: 20px;
}
#mainContent .home-block-content p {
	line-height: 30px;
}






@media all and (max-width: 1114px) {
	#mainContent .home-block-content {
		min-height: 300px;
	}
}
@media all and (max-width: 991px) {
	#mainContent .home-block-content {
		min-height: 270px;
	}
	#mainContent #home_block-profile .home-block-content {
		min-height: auto;
	}
}
@media all and (max-width: 767px) {
	#mainContent .home-block-content {
		min-height: auto;
	}
}
