@font-face {
  font-family: 'OpenSans Regular';
  src: url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot');
  src: url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
       url('../fonts/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans Light';
    src: url('../fonts/opensans_light/OpenSans-Light-webfont.eot');
    src: url('../fonts/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_light/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/opensans_light/OpenSans-Light-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Lane Narrow Regular';
    src: url('../fonts/lane-narrow_regular/Lane-Narrow-Regular-webfont.eot');
    src: url('../fonts/lane-narrow_regular/Lane-Narrow-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lane-narrow_regular/Lane-Narrow-Regular-webfont.woff') format('woff'),
         url('../fonts/lane-narrow_regular/Lane-Narrow-Regular-webfont.ttf') format('truetype');
}







body {
  font-family: 'OpenSans Regular', Arial, Helvetica, Verdana, Times, "Times New Roman", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSans Light', 'OpenSans Regular', Arial, Helvetica, Verdana, Times, "Times New Roman", sans-serif;
}
.modal {
  font-family: 'Lane Narrow Regular', 'OpenSans Regular', Arial, Helvetica, Verdana, Times, "Times New Roman", sans-serif;
}

#wrapper {
  margin-bottom: 48px;
}
