body {
	background-image: url("http://assets.fhuszti.tech/nao/profile/profile-bg.jpg");
  	background-size: cover;
  	background-position: center center;
  	background-repeat: no-repeat;
}
.no-padding {
	padding: 0;
}
.bold {
	font-weight: bolder;
}

#profile_content {
	margin-top: 45px;
	font-size: 1.2em;
	padding: 0;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.95);
	border: 1px outset #eee;
}

.profile-block-header {
	background-color: rgb(156, 214, 147);
	background-color: rgba(156, 214, 147, 0.9);
	line-height: 50px;
}
.profile-block-content {
	padding: 30px 50px;
}

#profile_block1-content {
	margin-top: 50px;
}
#profile_block1-content-title img {
	height: 26px;
}
#profile_block1-content-infos {
	margin-top: 40px;
}
#profile_block1-content-infos>.row {
	margin: 15px 0;
}
#profile_block1-content-infos>.row img {
	height: 45px;
	margin-top: -15px;
	cursor: pointer;
}







@media (max-width: 767px) {
	#content, #wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	#profile_block1-content-infos>.row img {
		height: 40px;
		margin-top: 0;
	}
}
