{% extends 'layout.html.twig' %}
{% set homepage = true %}
{% block body %}
<div class="container" id="container">

	{{ form_start(form) }}
	{{ form_widget(form.myfind) }}
	{{ form_end(form) }}
	<br/>
  <div class="list-group" id="results">
  </div>
</div>
{% endblock %}
{% block script %}
<script>

$(document).ready(function(){
	$('#form_myfind').keyup(function() {

	  var value = $(this).val();
	  	if(value === '') {
	  		$('#results').empty();
  		}
  		else {
	      $.ajax({
	         url : '{{ path('search') }}', 
	         type : 'GET', 
	         data : 'search=' + value,
	         success: function(reponse) { 
	     		$('#results').empty();
				Object.keys(reponse).forEach(function(key) {
				    $('#results').prepend('<a href="'+ reponse[key].link +'" class="list-group-item theFind">'+ reponse[key].name +'</a>');
				});
	          }
	      });
  		}
	});

});

$("#results").on("click", "a.theFind", function(){
	var href = $(this).attr('href');
    $('#container').empty();
    $('#container').load(href);
    return false;
});
</script>
{% endblock %}