#containerObservation {
	background-color: #EDEDED;
}

#buttonGeolocation {
	background-color: red;
	height: 50px;
}

#buttonDisplayMap {
	background-color: red;
	height: 50px;
}

#observation_longitude, .longitude, #observation_lattitude, .lattitude {
	display: none;
}

input, textarea {
	width: 100%;
}

#imageBlock {
	height: 50px;
}

img {
  width:100%;
  height:100%;
  display:block;
}